[Unit]
Description=Star and Shadow sidelight controller

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/sidelights
ExecStartPre=sleep 30
ExecStart=/home/pi/sidelights/main
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
